{% extends "base.html" %}
{% block content %}
<div class="card">
  <h3>Create account</h3>
  <form method="post">
    <label>Username</label>
    <input name="username" required>
    <label>Password</label>
    <input name="password" type="password" required>
    <label>Full name</label>
    <input name="fullname">
    <label>Email</label>
    <input name="email" type="email">
    <button class="btn">Register</button>
  </form>
  <p>Already have an account? <a href="{{ url_for('login') }}">Login</a></p>
</div>
{% endblock %}
